.Background__container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  /* pointer-events: none; */
  overflow: hidden;
}

.Background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  background-size: cover;
  background-position: center;
}

.Background--fade-out {
  animation: fade-out 0.5s ease forwards;
}

@keyframes fade-out {
  from {
    filter: blur(5px);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
